<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kobylynskyiv.teammeet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".presenter.MyApp"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:fullBackupContent="false"
        android:theme="@style/Theme.Teammate"
        tools:ignore="MissingApplicationIcon">

        <activity
            android:name="com.kobylynskyiv.teammeet.presenter.ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>